<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="page-header">Color Code Calculator <small>for resistors</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center" style="font-size: 100px;">
    <ul class="list-inline">
      <li><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></li>
      <% @bands_selected.each do |band| %>
        <li>
          <%= band_link(band) %>
        </li>
      <% end %>
      <% if @bands_selected.count < 4 then %>
        <span class="dropdown">
          <%= add_band_btn %>
          <ul class="dropdown-menu" aria-labelledby="dropdownAddBand">
            <% @bands.each do |b| %>
              <li>
                <% unless !b.color %><%= add_band_link(@resistor,@bands_selected,b) %><% end %>
              </li>
            <% end %>
          </ul>
        </span>
      <% end %>
      <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
    </ul>
  </div>
</div>
<div class='row text-center'>
  <form class='form-inline'>
    <div class='col-md-4'>
        <div class='form-group'>
          <label for='idealResistance'>Ideal Resistance</label>
          <input type='text' class='form-control' id='idealResistance' readonly>
        </div>
    </div>
    <div class='col-md-4'>
      <div class='form-group'>
        <label for='lowResistance'>Minimum Resistance</label>
        <input type='text' class='form-control' id='lowResistance' readonly>
      </div>
    </div>
    <div class='col-md-4'>
        <div class='form-group'>
          <label for='hiResistance'>Maximum Resistance</label>
          <input type='text' class='form-control' id='maxResistance' readonly>
        </div>
    </div>
  </form>
</div>
