<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <title>ColorCodeCalculator</title>

</head>
<body style="padding-top: 70px;">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" data-toggle='modal' data-target="#aboutModal">About</a>
          </li>
          <li>
            <a href="#" data-toggle='modal' data-target="#helpModal">Help</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <div class="container">
    <%= yield %>
  </div>

  <!-- Help Modal -->
  <div class="fade modal" id="helpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Electronic Color Codes</h4>
        </div>
        <div class="modal-body">
          Check <a href="https://en.wikipedia.org/wiki/Electronic_color_code">wikipedia</a> for more information about the electronic color code bands.<br><br>
          To use the calculator, simply click the plus to add the bands which correspond to the colors on the resistor. Once 4 bands are added, the ideal resistance as well as the minimum and maximum resistances based on tolerance will appear.<br><br>
          Some bands are unavailable in certain positions, such as gold and silver in the first and second position.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <!-- About Modal -->
  <div class="fade modal" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Electronic Color Codes</h4>
        </div>
        <div class="modal-body">
          This calculator was created by <a href="www.trentbullard.com">Trenton Bullard</a>. A <a href="http://getbootstrap.com/examples/starter-template/">bootstrap template</a> was used which includes the glyphicons-halflings made by <a href="glyphicons.com">glyphicons.com</a>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</body>
</html>
